body{
    background: url(../img/have-cameras-will-travel.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.ingreasarbtn{
    text-decoration: none;
    padding: 20px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 86px;
    padding-right: 86px;
    font-weight: 800;
    font-size: 25px;
    color: black;
    background-color: #d87c7c;
    cursor: pointer;
}